<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	    <meta name="author" content="Areli Tamayo S&aacutenchez" />
        <meta name="description" content="Sitio de la Nutri&oacuteloga Areli Tamayo" /> 
        <meta name="keywords" content="nutrici&oacuten, buen comer, citas, nutri&oacuteloga" />
        <meta name="language" content="es" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

			<!--- Titulo de página -->
		<title>{{ page.title }} &larr; {{ page.top }}</title>

			<!--- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/site_img/favicon.ico" />

			<!---Fonts CSS -->
        <link rel="stylesheet" href="/css/fonts.css" type="text/css" charset="utf-8" />

			<!-- Homepage CSS -->
		<link rel="stylesheet" href="/css/screen.css" type="text/css" />
        
    </head>
    <body id="{{ page.section }}">
<div id="site">

  {{ content }}
  

</div>

</html>
